<form id="search" method="get" action="/search">
  <fieldset>
    <label for="query">Enter a shop's name: </label>
    <input type="text" id="query" name="query" />
    <input type="submit" value="Search" />
  </fieldset>
  <ol class="results">
<% @shops.each do |shop| %>
     <li><%= link_to shop.name, shop_path(shop) %></li>
<% end %>
  </ol>
</form>