<form id="search" method="get" action="/search">
  <fieldset>
    <input type="text" id="query" name="query" />
    <input type="submit" value="Search" />
  </fieldset>
  <ol class="results">
<% @providers.each do |provider| %>
     <li><%= link_to provider.provider_name, provider_path(provider) %></li>
<% end %>
  </ol>
</form>